* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem 0;
  margin-bottom: 1.875rem;
  border-top: 1px solid #e8e8e8;
}

.title {
  padding: 10px;
}
